/* Booking page */

.booking-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  color: whitesmoke;
  margin-bottom: 1em;
}
.booking-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
}

.card-form {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: #495e57;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  padding: 1em;
  margin-bottom: 1em;
  color: white;
}

.card-form >h3 {
  text-align: center;
  font-weight: bold;
}


input {
  border-radius: 0.5em;
  border: solid 1px;
  height: 3em;
  text-indent: 0.2em;
  margin-bottom: 0.1em;
  font-family: inherit;
  font-size: 1rem;
}

select {
  height: 3em;
  margin-bottom: 0.1em;
  border-radius: 0.5em;
  text-indent: 0.2em;
  font-family: inherit;
  font-size: 1rem;

}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  margin-top: 1.5em;
  font-size: 0.9rem;
}

.btn-submit {
  display: inline-block;
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 1em 0;
  margin-top: 1em;
}

.btn-submit:hover {
  background-color: #495e57;
  color: white;
}


.error {
  color:red;
 font-size: 0.9rem;
}

@media (min-width:800px) {
  .container.booking{
    width: 100%;
  }
  .booking-form {
   grid-template-columns: auto auto;
   grid-column: auto 100px;
  }
  .card-form
  .btn-submit{
    display: block;
    grid-row: 2;
  }
}